.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

hr {
  margin: 0em;
}

.no-deco {
  text-decoration-line: none;
  text-decoration-color: none;
}
