.profile-container {
  margin-left: 10em;
  margin-right: 10em;
}

.order-card {
  display: flex;
  justify-content: space-between;
}

.img-order {
  height: 10vw;
  width: 10vw;
  object-fit: cover;
  background-image: url("https://res.cloudinary.com/dwgembu1s/image/upload/v1682105979/xlixo1b51gw76mvvsdhl.jpg");
  margin-bottom: 0.5em;
}

.price-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 8.5em;
}

.price-section-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 15em;
}

.link {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.profile-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}

.button-size {
  width: 18em;
}

.img-profile {
  height: 15vw;
  width: 15vw;
  object-fit: cover;
  margin-right: 2em;
}

.profile-img-info {
  display: flex;
  align-items: center;
}

.trash-icon {
  margin-left: 1em;
  color: red;
}

.price {
  margin-bottom: 0em;
}
