.index-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.index-card {
  width: 19%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-product {
  height: 19vw;
  width: 19vw;
  object-fit: cover;
  background-image: url("gucci-card.jpg");
  margin-bottom: 0.5em;
}

.heart {
  top: 0;
  right: 0;
  font-size: 1.5em;
  margin: 0.5em;
  color: rgb(174, 15, 15);
}

.heart-1 {
  top: 0;
  right: 0;
  font-size: 1.5em;
  margin: 0.5em;
  color: rgb(174, 15, 15);
  &:hover {
    font-size: 1.6em;
    transition: 0.2s;
  }
}
