.product-show {
  height: 60vh;
  max-width: 80vh;
}

.show-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2em;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.padding-right {
  padding-top: 0.5rem;
  padding-right: 4.5rem;
  padding-left: 7em;
}

.padding-left {
  padding-top: 0.5rem;  
  padding-left: 14.5rem;
}
